.StockTicker {
  background-color: white;
  border: 1em solid black;
}

.Heading {
  border: 1px solid black;
}

.Entry {
  border: 1px solid black;
}

.IsCurrent {
  border: 1px solid white;
  font-weight: bold;
}

/* .StockType { } */

/* .StockPrice { } */
