.Job {
  font-weight: bold;
  text-transform: uppercase;
}

.Icon {
  font-size: xx-large;
}

.Title {
  font-size: larger;
}

.Rolls,
.Salary {
  font-size: large;
}

.Job0 {
  grid-area: job0;
}

.Job1 {
  grid-area: job1;
}

.Job2 {
  grid-area: job2;
}

.Job3 {
  grid-area: job3;
}
