.Board {
  border: 1px solid magenta;
}

/* --- Common --- */

/* .MoveDirection { } */

/* .PriceIndexChange { } */

/* --- Broker Fee tile --- */

.BrokerFee {
  border: 1px solid black;
  background-color: white;
  ;
  color: black;
}

.BrokerFeeTitle {
  font-weight: bold;
  font-size: larger;
}

/* .BrokerFeeInfo { } */

/* .BrokerFeePrice { } */

/* --- Start tile --- */

.Start {
  background-color: white;
  color: black;
}

.StartTitle {
  font-size: larger;
  color: orangered;
  font-weight: bold;
}

.StartInfo {
  font-weight: bold;
  font-size: large;
}

/* .StartDirection { } */
/* .StartDirection > span::first-child { ... } */
/* .StartDirection > span::last-child { ... } */

/* --- Stock Meeting tile --- */

.StockMeeting {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: larger;
}

/* --- Stock Option tile --- */

.StockOption {
  color: black;
}

.StockOptionEntry {
  background-color: black;
  color: white;
}

/* .StockOptionDividend { } */

.StockOptionName {
  font-weight: bold;
  font-size: large;
}

.StockOptionLimit {
  font-size: medium;
}

/* --- Stock Color's --- */

.StockColorFireBrick {
  background-color: firebrick;
}

.StockColorGold {
  background-color: gold;
}

.StockColorOrange {
  background-color: orange;
}

.StockColorDodgerBlue {
  background-color: dodgerblue;
}

.StockColorMediumVioletRed {
  background-color: mediumvioletred;
}

.StockColorSeaGreen {
  background-color: seagreen;
}

.StockColorLimeGreen {
  background-color: limegreen;
}

.StockColorChocolate {
  background-color: chocolate;
}
