.StockColorFireBrick {
  background-color: firebrick;
}

.StockColorGold {
  background-color: gold;
}

.StockColorOrange {
  background-color: orange;
}

.StockColorDodgerBlue {
  background-color: dodgerblue;
}

.StockColorMediumVioletRed {
  background-color: mediumvioletred;
}

.StockColorSeaGreen {
  background-color: seagreen;
}

.StockColorLimeGreen {
  background-color: limegreen;
}

.StockColorChocolate {
  background-color: chocolate;
}
