.StockTicker {
  background-color: white;
  border: .5em solid black;
  border-collapse: collapse;

  /* border-collapse: separate; */
  /* border-spacing: 0px; */
}

.StockTicker td {
  border: 1px solid black;
  padding: 0;
  width: 10%;
}

.StockTicker tbody tr:nth-child(5n+1) td {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.Heading {
  border: 1px solid black;
  /* padding: .5em; */
}

.Heading td {
  padding: 1em 0;
}

.Entry {
  border: 1px solid black;
}

.Gap {
  width: 5em;
}

.StockType {
  /* padding: 1em; */
  /* width: 10%; */
}

/* .StockPrice { } */

.IsCurrent {
  border: 1px solid white;
  font-weight: bold;
}
